body {
  margin: 0;
  padding: 0%;
  background-color: rgb(184, 0, 0);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.logo {
  height: 250px;
  width: 250px;
}
.ace_banner {
  height: inherit;
  width: 100%;
}
.navbar {
  transition: all 0.4s;
}

.navbar .nav-item .nav-link {
  color: gold;
}

.logo {
  height: 250px;
  width: 250px;
}

.navbar.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: transparent;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.navbar.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
/*------------Banner-----------*/
h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 90px;
  text-shadow: gray;
}
.footer {
  height: 95px;
  width: 100%;
}

.lineicon {
  color: white;
}

.container {
  background-color: #fafafa;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
